<launch>

    <arg name="sx" default="-4" doc="X start location (meters)"/>
    <arg name="sy" default="-4" doc="Y start location (meters)"/>
    <arg name="st" default="0" doc="Yaw start location (radians)"/>
    <arg name="gx" default="4" doc="X goal location (meters)"/>
    <arg name="gy" default="4" doc="Y goal location (meters)"/>
    <arg name="rpm1" default="100" doc="Wheel RPM #1 (rotations/minute)"/>
    <arg name="rpm2" default="200" doc="Wheel RPM #2 (rotations/minute)" />
    <arg name="clearance" default="0.01" doc="Minimum obstacle clearance (meters)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find phase2_ws)/config/map.world" />
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x $(arg sx) -y $(arg sy) -z 10 -Y $(arg st) -param robot_description" />

    <node name="planner" pkg="phase2_ws" type="planner.py" output="screen" 
	args="-s $(arg sx) $(arg sy) $(arg st) -g $(arg gx) $(arg gy) -r $(arg rpm1) $(arg rpm2) -c $(arg clearance)" />
</launch>
